<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Huginn for Newsrooms</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Huginn for Newsrooms</h1>
        <img src="https://raw.github.com/cantino/huginn/master/media/huginn-logo.png" />
        <p>Documentation and common scenarios for newsroom usage of <a href="https://github.com/cantino/huginn">Huginn</a></p>

      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p><b>Developer?</b><br>See the core <a href="https://github.com/cantino/huginn/wiki/">Huginn documentation</a></p>
        <p><b>Newsroom? Need Help?</b><br>Contact albert.sun [at] nytimes.com
        <br><a href="https://github.com/albertsun/huginn-newsroom-scenarios">Contribute scenarios or documentation<small>github.com/albertsun/huginn-newsroom-scenarios</small></a></p>
        <p><small><a href="https://opennews.org/what/community/convenings/">Docs written at the OpenNews Code Convening, April&nbsp;2016</a></small></p>
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
